[submodule "submodules/Analysis-of-Global-Weather-Patterns"]
	path = submodules/Analysis-of-Global-Weather-Patterns
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Biodiversity-Exploration-Dashboard"]
	path = submodules/Biodiversity-Exploration-Dashboard
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
