[submodule "submodules/Analysis-of-Global-Weather-Patterns"]
	path = submodules/Analysis-of-Global-Weather-Patterns
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Biodiversity-Exploration-Dashboard"]
	path = submodules/Biodiversity-Exploration-Dashboard
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Building-Flask-API-for-Vacation-Planning-and-Exploring-Climate-Data"]
	path = submodules/Building-Flask-API-for-Vacation-Planning-and-Exploring-Climate-Data
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Credit-Risk-Classification"]
	path = submodules/Credit-Risk-Classification
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Crimes_Traffic_Incidents_ATX"]
	path = submodules/Crimes_Traffic_Incidents_ATX
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Cryptocurrencies-Clustering-Model"]
	path = submodules/Cryptocurrencies-Clustering-Model
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/ETL-Pipeline-for-Crowdfunding-Data"]
	path = submodules/ETL-Pipeline-for-Crowdfunding-Data
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Exploring-School-Metrics-in-Pandas"]
	path = submodules/Exploring-School-Metrics-in-Pandas
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Financial-Records-Analysis"]
	path = submodules/Financial-Records-Analysis
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Food-Hygiene-Analysis"]
	path = submodules/Food-Hygiene-Analysis
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Geospatial-Earthquake-Visualization"]
	path = submodules/Geospatial-Earthquake-Visualization
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Nonprofit-Funding-Success-Model"]
	path = submodules/Nonprofit-Funding-Success-Model
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/NYC-Citi-Bike-Insights"]
	path = submodules/NYC-Citi-Bike-Insights
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Project-3-Visualizing-Data"]
	path = submodules/Visualizing-The-Great-Freeze-Texas-Energy-Prices
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
