[submodule "submodules/Analysis-of-Global-Weather-Patterns"]
	path = submodules/Analysis-of-Global-Weather-Patterns
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Biodiversity-Exploration-Dashboard"]
	path = submodules/Biodiversity-Exploration-Dashboard
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Building-Flask-API-for-Vacation-Planning-and-Exploring-Climate-Data"]
	path = submodules/Building-Flask-API-for-Vacation-Planning-and-Exploring-Climate-Data
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Credit-Risk-Classification"]
	path = submodules/Credit-Risk-Classification
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
[submodule "submodules/Crimes_Traffic_Incidents_ATX"]
	path = submodules/Crimes_Traffic_Incidents_ATX
	url = https://github.com/robert-z-lehr/Analysis-of-Global-Weather-Patterns
